@font-face {
    font-family: 'minecraft';
    src: url('fonts/Minecraft.eot');
    src: url('fonts/Minecraft.eot?#iefix') format('embedded-opentype'),
        url('fonts/Minecraft.woff2') format('woff2'),
        url('fonts/Minecraft.woff') format('woff'),
        url('fonts/Minecraft.ttf') format('truetype');
}



body {
    background-color:rgb(137, 126, 220);
    width: auto;
}

.page {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: fit-content;
    min-height: 98vh;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.mc {
    font-family: minecraft;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    color: black;
    text-decoration: none;
}

.red {
    color: rgb(241, 66, 66);
}

.small {
    font-size: 25px;
}

.small2 {
    font-size: 20px;
}

.small3 {
    font-size: 15px;
}

.push10 {
    padding-right: 10px;
}

.push20 {
    padding-right: 10px;
}

.ul {
    text-decoration: underline;
}

.header {
    align-content: center;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    }

.padding10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p10 {
    padding: 10px;
}

.welcome1 {
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.welcome2 {
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 150px;
    border-radius: 5px;
}

.LordTrolley {
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.welcome {
    margin-top: 20px;
}

.copy-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(23, 126, 139);
    padding-bottom: 4px;
}

.button-box {
    padding-top: 200px;
}